<div class="app-root__numbers">

  <div class="app-root__numbers__number">

    <div class="app-root__numbers__number__wrapper">
      <app-number
        #days
        [color]="theme.colorActive"
        [fontSize]="0.7"
        [fontWeight]="900"
        [cardUp]="cardUp"
        [cardDown]="cardDown"
        (minReached)="days.setMax('down')"
        [value]="10"
        [min]="0"
        [max]="99"/>

      <ng-container [ngTemplateOutlet]="background"/>

    </div>

    <ng-container [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{text: 'days'}"/>

  </div>

  <div class="app-root__numbers__number">

    <div class="app-root__numbers__number__wrapper">
      <app-number
        #hours
        [color]="theme.colorActive"
        [fontSize]="0.7"
        [fontWeight]="900"
        [cardUp]="cardUp"
        [cardDown]="cardDown"
        (minReached)="days.decrement(); hours.setMax('down')"
        [value]="0"
        [min]="0"
        [max]="23"/>

      <ng-container [ngTemplateOutlet]="background"/>

    </div>

    <ng-container [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{text: 'hours'}"/>

  </div>

  <div class="app-root__numbers__number">

    <div class="app-root__numbers__number__wrapper">
      <app-number
        #minutes
        [color]="theme.colorActive"
        [fontSize]="0.7"
        [fontWeight]="900"
        [cardUp]="cardUp"
        [cardDown]="cardDown"
        (minReached)="hours.decrement(); minutes.setMax('down')"
        [value]="0"
        [min]="0"
        [max]="59"/>

      <ng-container [ngTemplateOutlet]="background"/>

    </div>

    <ng-container [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{text: 'minutes'}"/>

  </div>

  <div class="app-root__numbers__number">

    <div class="app-root__numbers__number__wrapper">
      <app-number
        #seconds
        (minReached)="minutes.decrement(); seconds.setMax('down')"
        [color]="theme.colorActive"
        [fontSize]="0.7"
        [fontWeight]="900"
        [cardUp]="cardUp"
        [cardDown]="cardDown"
        [value]="10"
        [min]="0"
        [max]="59"/>

      <ng-container [ngTemplateOutlet]="background"/>
    </div>

    <ng-container [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{text: 'seconds'}"/>

  </div>

</div>

<ng-template #cardUp let-text="text" let-size="size">
  <svg [attr.data-separator-color]="theme.cardShadow">
    <rect [attr.width]="text.length * size" [attr.height]="size" rx="1" [attr.fill]="theme.cardBackground"/>
  </svg>
</ng-template>

<ng-template #cardDown let-text="text" let-size="size">
  <svg [attr.data-separator-color]="theme.cardShadow">
    <rect [attr.width]="text.length * size" [attr.height]="size" rx="1" [attr.fill]="theme.cardBackground"/>
  </svg>
</ng-template>

<ng-template #text let-text="text">
  <svg [attr.viewBox]="'0 0 130 60'" xmlns="http://www.w3.org/2000/svg"
       class="app-root__numbers__number__desc">
    <text x="50%" y="50%" class="app-root__numbers__number__desc__value">
      <tspan [attr.fill]="theme.colorSecond" class="app-root__numbers__number__desc__value">{{ text.slice(0, -1) }}</tspan>
      <tspan
        [attr.fill]="theme.colorSecond"
        class="app-root__numbers__number__desc__value app-root__numbers__number__desc__value__last">{{ text[text.length - 1] }}
      </tspan>
    </text>
  </svg>
</ng-template>

<ng-template #background>
  <svg class="app-root__numbers__number__wrapper__background">
    <rect [attr.width]="'100%'" [attr.height]="'100%'" rx="5" [attr.fill]="theme.cardShadow"/>
  </svg>
</ng-template>
